In [36]:
myage = 32
print(myage)

32

In [37]:
import pandas as pd
data = pd.read_csv('lsd_math_score_data.csv')

In [38]:
import pandas as pd
data = pd.read_csv('lsd_math_score_data.csv')

In [39]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [40]:
type(data)

pandas.core.frame.DataFrame

In [41]:
onlyMathScore = data['Avg_Math_Test_Score']

In [42]:
print(onlyMathScore)

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [43]:
data['Test_Subject'] = 'Jennifer Lopez'

In [44]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

In [45]:
data['High_Score'] = 100

In [46]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_Score
0         100
1         100
2         100
3         100
4         100
5         100
6         100

In [47]:
data['High_Score'] = data['High_Score'] + data['Avg_Math_Test_Score']
print('High_Score')

High_Score

In [48]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_Score
0      178.93
1      158.20
2      167.47
3      137.47
4      145.65
5      132.92
6      129.97

In [49]:
data['High_Score'] += data['Avg_Math_Test_Score']

In [50]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_Score
0      257.86
1      216.40
2      234.94
3      174.94
4      191.30
5      165.84
6      159.94

In [51]:
data['High_Score'] = data['High_Score'] - data['Avg_Math_Test_Score']

In [52]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_Score
0      178.93
1      158.20
2      167.47
3      137.47
4      145.65
5      132.92
6      129.97

In [53]:
data['High_Score'] = data['High_Score'] ** 2

In [54]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_Score
0  32015.9449
1  25027.2400
2  28046.2009
3  18898.0009
4  21213.9225
5  17667.7264
6  16892.2009

In [55]:
type(onlyMathScore)

pandas.core.series.Series

In [56]:
cleanData = data[['LSD_ppm', 'Avg_Math_Test_Score']]

In [57]:
print(cleanData)

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [58]:
type(cleanData)

pandas.core.frame.DataFrame

In [59]:
y = data[['Avg_Math_Test_Score']]

In [60]:
type(y)

pandas.core.frame.DataFrame

In [61]:
x = data[['LSD_ppm']]

In [62]:
print(x)

   LSD_ppm
0     1.17
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41

In [63]:
type(x)

pandas.core.frame.DataFrame

In [64]:
del data['Test_Subject']

In [65]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High_Score
0                      5     1.17                78.93  32015.9449
1                     15     2.97                58.20  25027.2400
2                     30     3.26                67.47  28046.2009
3                     60     4.69                37.47  18898.0009
4                    120     5.83                45.65  21213.9225
5                    240     6.00                32.92  17667.7264
6                    480     6.41                29.97  16892.2009

In [66]:
del data['High_Score']

In [67]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [68]:
import life

SyntaxError: invalid syntax (life.py, line 1)

In [69]:
a = 10
print(a)

10

In [76]:
import life as hitchhikersGuide

In [77]:
type(hitchhikersGuide)

module

In [78]:
hitchhikersGuide.theAnswer

42

In [74]:
import math

In [75]:
math.pi

3.141592653589793

In [81]:
from life import theAnswer

In [82]:
myFavouriteNumber  = theAnswer

In [83]:
print(myFavouriteNumber)

42

In [84]:
theAnswer = theAnswer+1

In [87]:
print(theAnswer)

43

In [88]:
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [89]:
def get_Milk():
    print('Open Door')
    print('Walk to the store')
    print('Buy milk on the ground floor')
    print('return with milk galore')

In [90]:
get_Milk()

Open Door
Walk to the store
Buy milk on the ground floor
return with milk galore

In [95]:
def fill_the_fridge(amount):
    print('Open Door')
    print('Walk to the store')
    print('Buy ' + amount + ' milk on the ground floor')
    print('return with milk galore')

In [96]:
fill_the_fridge('five')

Open Door
Walk to the store
Buy five milk on the ground floor
return with milk galore

In [97]:
fill_the_fridge('one Thousand')

Open Door
Walk to the store
Buy one Thousand milk on the ground floor
return with milk galore

In [100]:
def milk_mission(amount,destination):
    print('Open Door')
    print('Walk to the store ' + destination)
    print('Buy ' + amount + ' milk on the ground floor')
    print('return with milk galore')

In [101]:
milk_mission('twenty', 'department Store')

Open Door
Walk to the store department Store
Buy twenty milk on the ground floor
return with milk galore

In [102]:
milk_mission(10,20)

Open Door

TypeError: can only concatenate str (not "int") to str

In [103]:
milk_mission(destination = 'twenty', amount = 'department Store')

Open Door
Walk to the store twenty
Buy department Store milk on the ground floor
return with milk galore

In [104]:
def times(num1, num2):
#     result = num1 * num2
    return num1 * num2

In [107]:
test = times(3.14,5.09)
print(test)

15.9826

In [108]:
times('NI', 4)

'NINININI'

In [109]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!